/* you can add the global styles and change variable values*/
/*imported fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

/*giving colours*/

$turquoise:#44ddd0;
$green:#46f69e;

$lightgreen:#27d7a1;
$light:#f8f8f8;
$dark-green: rgb(0,100,80);

/*update bulma global variables*/
$family-sans-serif:"Numito", sans-serif;
$primary:$green;

$link: $dark-green;

//udate some bulma component variables//
$control-border-width:2px;
$input-border-color:transparent;
$input-shadow:none;


//set custom global style
html{
    background: linear-gradient(to right top,$dark-green,$light);
}

html, body{
    height: 100%;
}

